@{
    ViewData["Title"] = "Enter FS Path:";
}
<form method="post">
    <label>Path</label><br />
    <input style="width:100%" type="text" name="path" /><br /><br />
    <input type="submit" value="Build Tree" />
</form>

<div>
    <a asp-action="Index">Back</a>
</div>
